.nav {
  padding: 1rem 0;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: var(--color-med);
  text-decoration: none;
  transition: color 0.2s;
}

.nav a:hover {
  color: var(--color-dark);
}

.nav a.active {
  color: var(--color-blue);
  font-weight: 500;
} 